* {
  font-size: 30px; /* Change the font size to your desired value */
}

.profile-pic img {
  max-width: 100%;
}

/* Mobile styling (default) */
.image-grid {
  display: grid;
  grid-template-columns: 1fr; /* Single column for mobile */
  grid-gap: 20px;
  max-width: 100%;
  padding: 20px;
  max-height: 100%;
  justify-content: space-evenly; /* Horizontally centered and equal spacing */
  align-content: space-evenly; /* Vertically centered and equal spacing */
}

/* Tablet styling (768px - 1023px) */

.main {
  height: 100vh;
  /* border: 1px solid orange; */
}

.root-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fbe5e0;
}

.profile-pic {
  background-color: blanchedalmond;
  border: 1px solid rgb(115, 0, 255);
}

.about-me {
  /* border: 1px solid orange; */
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.about-me p {
  padding: 20px;
}

.my-work {
  /* border: 1px solid black; */
  font-family: "Montserrat", sans-serif;
}

.my-work h1 {
  text-align: center;
}

.grid-item {
  background-color: #f6ebe0;
  display: grid;
  text-align: center;
  padding: 10px;
  grid-template-rows: 2fr 1fr;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s;
  /* width: 310px; */
}

.grid-item a {
  text-decoration: none; /* Remove the underline */
  color: #0078d4; /* Change the link color to your desired color */
}

.grid-item:hover {
  color: #004375; /* Change link color on hover */

  transform: scale(1.05); /* Increase the size by 10% */
}

.project-image {
  width: 100%;
  min-height: 135px;
  overflow: hidden;
  border: 1px solid black;
}

.grid-item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: top;
}

.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 20px;
  background-color: #fbe5e0;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.contact-me-text {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.action-shot img {
  width: 100%;
}

.action-shot-tablet {
  display: none;
}

.action-shot-tablet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Center the image within the container */
}

@media screen and (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns on tablets */
    max-width: 80%;
    margin: 0 auto;
  }
  .action-shot {
    display: none;
    padding: 100px;
  }

  .action-shot-tablet {
    display: block;
  }
}

/* Desktop styling (1024px and above) */
@media screen and (min-width: 1024px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr); /* Three columns on desktops */
    max-width: 100%;
    margin: 0 auto;
  }
}
